modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[deployment]
run = ["sh", "-c", "npm run backend"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run frontend"]

[[ports]]
localPort = 5000
externalPort = 80

[run]
command = "npm run backend"
